/*
set Hyperlink style  08.18.2021
*************************************************/
a{color:#F4A460;}                        /* SandyBrown  */
a:hover {
	color: #228B22;
	background:#F5F5F5;                     /* HTML WhiteSmoke */
	text-decoration:none;
}          
a:active {color:#FFDA00;background:none;}  /*   808A87 */
.img_trans img {  
  width: 100%;  
  transform: scale(1);  
  transition: all 0.5s ease 0s;
}  
.img_trans:hover img {  
  transform: scale(1.3);
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.3);
  -webkit-transform: all 0.5s ease 0s;
}  
@media (min-width: 992px) {
  .home-bgi3 {
    background-image: url("../../image/home/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 50vh;
  }
}

/*
added by liang 08.21.2021
***************************/
/* .btn-Sandy-Brown:hover {
  background-color: #F4F4F4;
  border-color: #F4F4F4;
} */

.btn-Sandy-Brown{
  background-color: #D2691E; /* Green */
  /* border: 3px solid #F5F5F5; HTML WhiteSmoke */
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60x;
}

.btn-Sandy-Brown:hover{
  background-color: white;
  color: #1C1D1E; 
}

.btn-dim-gray {

  /* border-color: white; */
  color:#FFF8DC;
  /* border: 3px solid #F5F5F5; HTML WhiteSmoke */

}
.btn-dim-gray:hover {
  background-color: white;
  border-color: white;
  color: #1C1D1E;
}

.btn-outline-warning:hover {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  color: #1C1D1E;
}
.btn-outline-success:hover {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  color:   black;
}

/*
added by liang 10.15.2021
***************************/
.btn-RosyBrown{
  background-color:		#BC8F8F;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60x;
}
.btn-RosyBrown:hover{
  background-color: white;
  color: #1C1D1E; 
}
.btn-outline-info:hover{
  background-color: white;
  border-color: #F0F0F0;
  color: #1C1D1E; 
}
.btn-RebeccaPurple{
  background-color:		#663399;    /* RebeccaPurple   #BC8F8F */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60x;
}
.btn-RebeccaPurple:hover{
  background-color: white;
  color: #1C1D1E; 
}
.btn-outline-info:hover{
  background-color: white;
  border-color: #F0F0F0;
  color: #1C1D1E; 
}

/*
added by liang 09.07.2021
***************************/
/* Banner (style2) */

	.banner.style2 {
		padding: 2.25rem 1.25rem 0rem 1.25rem ;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-color: inherit;
		position: relative;
		text-align: center;
		overflow-x: hidden;
	}

		.banner.style2 .content {
			padding: 1.25rem 2.25rem 1.25rem 2.25rem;			
			position: relative;
			width: 60rem;    /*40rem*/
			max-width: 100%;
			background-color: inherit;
			border-radius: 0.5rem;
			margin-bottom: 2rem;
			z-index: 1;
			overflow-x: hidden;
		}

		.banner.style2 .image {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 0;
		}

			.banner.style2 .image img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 0;
			}

		@media screen and (max-width: 1680px) {

			.banner.style2 {
				padding: 3.75rem 3.75rem 1.75rem 3.75rem ;
			}

				.banner.style2 .content {
					padding: 3.75rem 3.75rem 1.75rem 3.75rem ;
				}

		}

		@media screen and (max-width: 1280px) {

			.banner.style2 {
				padding: 4rem 3rem 2rem 3rem ;
			}

				.banner.style2 .content {
					padding: 4rem 3rem 2rem 3rem ;
				}

		}

		@media screen and (max-width: 980px) {

			.banner.style2 {
				padding: 3rem 3rem 1rem 3rem ;
			}

				.banner.style2 .content {
					padding: 3.75rem 2.25rem 1.75rem 2.25rem ;
				}

		}

		@media screen and (max-width: 736px) {

			.banner.style2 {
				padding: 2rem 2rem 0.1rem 2rem ;
			}

				.banner.style2 .content {
					padding: 2.5rem 1.5rem 0.5rem 1.5rem ;
				}

		}

		.banner.style2.fullscreen {
			min-height: 100vh;
		}

		.banner.style2.orient-left {
			-moz-justify-content: -moz-flex-start;
			-webkit-justify-content: -webkit-flex-start;
			-ms-justify-content: -ms-flex-start;
			justify-content: flex-start;
			padding-left: 0;
		}

			.banner.style2.orient-left .content {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

		.banner.style2.orient-right {
			-moz-justify-content: -moz-flex-end;
			-webkit-justify-content: -webkit-flex-end;
			-ms-justify-content: -ms-flex-end;
			justify-content: flex-end;
			padding-right: 0;
		}

			.banner.style2.orient-right .content {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

		.banner.style2.content-align-left {
			text-align: left;
		}

		.banner.style2.content-align-right {
			text-align: right;
		}

		.banner.style2.image-position-left .image img {
			-moz-object-position: left;
			-webkit-object-position: left;
			-ms-object-position: left;
			object-position: left;
		}

		.banner.style2.image-position-right .image img {
			-moz-object-position: right;
			-webkit-object-position: right;
			-ms-object-position: right;
			object-position: right;
		}


#userDisplay{
	position: fixed;
	right: 2px;
	top: 2px;
	width:fit-content;
	min-width: 100px;
	height:fit-content;
	background-color: #F0FFFF;
	border-radius: 0.5rem;
	outline: none;
	cursor: pointer;
	z-index: 3;
  opacity: 0.85;
}


/* Form */

form {
  margin: 0 0 2rem 0;
}
  form.stacked {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
  }
    form.stacked li {
      padding: 1.3rem 0 0 0;
    }
      form.stacked li:first-child {
        padding-top: 0;
      }

  form > :last-child {
    margin-bottom: 0;
  }

  form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% );
    text-align: center;    /* liang */
    margin: -1.5rem 0.5rem 2rem 0.5rem;

  }
    form > .fields.stacked {
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0;
    }

      form > .fields.stacked li {
        padding: 1.3rem 0 0 0;
      }

        form > .fields.stacked li:first-child {
          padding-top: 0;
        }
    form > .fields > .field {
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      padding: 1.5rem 1rem 0 1rem;
      width: calc(80% +4rem  );      /*100%*/
      text-align: center;    /* liang */

    }

      form > .fields > .field.half {
        width: calc(50% - 0.75rem);

      }

      form > .fields > .field.third {
        width: calc(100%/3 - 0.5rem);
      }

      form > .fields > .field.quarter {
        width: calc(25% - 0.375rem);
      }

/* Actions */

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}

  ul.actions li {
    padding: 0 0 0 1rem;
    vertical-align: middle;
  }

  ul.actions.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }

    ul.actions.special li:first-child {
      padding-left: 0;
    }

  ul.actions.stacked {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
  }

    ul.actions.stacked li {
      padding: 1.3rem 0 0 0;
    }

      ul.actions.stacked li:first-child {
        padding-top: 0;
      }

  ul.actions.fit {
    width: calc(100% + 1rem);
  }

    ul.actions.fit li {
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;
      -moz-flex-shrink: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-shrink: 1;
      flex-shrink: 1;
      width: 100%;
    }

      ul.actions.fit li > * {
        width: 100%;
      }

    ul.actions.fit.stacked {
      width: 100%;
    }

  @media screen and (max-width: 480px) {

    ul.actions:not(.fixed) {
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0;
      width: 100% !important;
    }

      ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1rem 0 0 0;
        text-align: center;
        width: 100%;
      }

        ul.actions:not(.fixed) li > * {
          width: 100%;
        }

        ul.actions:not(.fixed) li:first-child {
          padding-top: 0;
        }

        ul.actions:not(.fixed) li input[type="submit"],
        ul.actions:not(.fixed) li input[type="reset"],
        ul.actions:not(.fixed) li input[type="button"],
        ul.actions:not(.fixed) li button,
        ul.actions:not(.fixed) li .button {
          width: 100%;
        }

          ul.actions:not(.fixed) li input[type="submit"].icon:before,
          ul.actions:not(.fixed) li input[type="reset"].icon:before,
          ul.actions:not(.fixed) li input[type="button"].icon:before,
          ul.actions:not(.fixed) li button.icon:before,
          ul.actions:not(.fixed) li .button.icon:before {
            margin-left: -0.5rem;
          }

  }

  /* Image */

	.image {
		border: 0;
		border-radius: 4px;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
			border-radius: 4px;
		}

		.image.left, .image.right {
			width: 60%;
			max-width: 30rem;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 2rem 1rem 5rem;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 1rem 1.5rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

    .image.fit img {
      width: 100%;
    }

		.image.main {
			display: block;
			margin: 0 0 3rem 0;
			width: 100%;
		}

    .image.main img {
      width: 100%;
    }